<md-card>
    <div layout="row">
        <div flex>Conta corrente</div>
        <div flex>
            <md-chip-list>
                <a md-raised-button routerLink=".">Editar</a>
                <a md-raised-button routerLink=".">Desativar</a>
                <a md-raised-button routerLink=".">Remover</a>
            </md-chip-list>
        </div>
    </div>
</md-card>

<div>

  <div layout="row">

    <div flex>First item in row</div>
    <div flex="20">Second item in row</div>

  </div>
  <div layout="column">

    <div flex="66">First item in column</div>
    <div flex="33">Second item in column</div>

  </div>

</div>